# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build
/build

# typings
/typings

# playground
/playground/node_modules
/playground/build

# dependencies
/node_modules
/.pnp
.pnp.js

# PHPStorm
.idea

# testing
/coverage

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.vscode/
